.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: var(--hljs-foreground);
  background: var(--hljs-background);
}

.hljs-comment,
.hljs-quote {
  color: var(--hljs-comment);
  font-style: var(--hljs-emphasis);
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: var(--hljs-doctag);
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: var(--hljs-section);
}

.hljs-literal {
  color: var(--hljs-literal);
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: var(--hljs-string);
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: var(--hljs-built_in);
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: var(--hljs-attr);
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: var(--hljs-symbol);
}

.hljs-emphasis {
  font-style: var(--hljs-emphasis);
}

.hljs-strong {
  font-weight: var(--hljs-strong);
}

.hljs-link {
  text-decoration: var(--hljs-link);
}

